@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    /* background: linear-gradient(to right, #bec5d7, #cbd0df, #d7dce7, #f1f3f8); */
    background: #bec5d7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.item2, .content {
    opacity: 1;
    height: 100%;
    transition: all 1.5s;
}
.item2.hidden, .content.hidden{
    opacity: 0;
    height: 0;
}

input {
    border: none;
    background: inherit;
    outline: none;
    margin: 0;
}

textarea {
    width: 100%;
    height: 100%;
    resize: none;
    border: none;
    background: inherit;
    outline: none;
    font-size: 1.15rem;
}

.box {
    background: #f1f3f8;
    border-radius: 2rem;
    height: 80%;
    width: 95%;
}

.box-container {
    display: flex;
    width: 100%;
    min-height: 100%;
    max-height: 100%;
}

.left {
    border-right: 1px solid black;
    width: 10%;
    text-align: center;
}

.left h1 {
    font-weight: 500;
    width: 100%;
}

.btn {
    border: none;
    background: inherit;
    cursor: pointer;
}
.plus-btn {
    font-size: 2.5rem;
    margin: 0 auto;
}

.right{
    width: 90%;
    padding: 1rem;
}

.search-btn {    
    -webkit-text-stroke: 1px white;
    font-size: 1rem;
    margin: 0;
    
}

.search-form {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.search{
    border-bottom: 2px solid #222;
    margin: 0.75rem;
    padding: 0.25rem;
    margin-right: 0;
    outline: none;

}

.right h1 {
    padding: 1rem;
    margin-top: 0;
}

.notes {
    display: flex;
    flex-wrap: wrap;
    max-height: 75%;
    overflow: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.notes::-webkit-scrollbar {
    display: none;
}

.note {
    padding: 1rem;
    border-radius: 1rem;
    width: 22.45%;
    height: 100%;
    margin: 1rem;
    opacity: 1;
    transition: all 1s;

}

.items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.title {
    margin: 0;
}
input[type="text"] {
    font-size: 2rem;
    width: 100%;
}

time{
    display: block;
}

.icon-btn {
    font-size: 1.25rem;
    margin: 0.25rem;
}

footer{
    display: flex;
    justify-content: center;
    align-items: baseline;
}

footer > p > a{
    text-decoration: none;
}